* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.header_nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

.navbar .logo {
  padding-left: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

.navbar .logo h1 {
  margin-left: 20px;
  font-size: 20px;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.navbar ul li a:hover {
  color:rgb(233, 195, 146);
  transition: all 0.5s ease-in-out;
}

.navbar .logo img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.navbar .logo h1:hover {
  color: rgb(189, 186, 186);
  transition: all 0.5s ease-in-out;
  cursor: pointer
}